<div class="content">
    <h2>Payment Bill</h2>
    <div class="patient-details">
        <div class="patient-info">
            <strong>Appointment no:</strong> {{appointmentid}}
        </div>
        <div class="patient-info">
            <strong>First Name:</strong> {{firstname}}
        </div>
        <div class="patient-info">
            <strong>Last Name:</strong>{{lastname}}
        </div>
        <div class="patient-info">
            <strong>Age:</strong> {{age}}
        </div>
        <div class="patient-info">
            <strong>Gender:</strong> {{gender}}
        </div>
        <div class="patient-info">
            <strong>Issuedate:</strong> {{issuetime}}
        </div>
        <div class="patient-info">
            <strong>Fees:</strong> {{fees}}
        </div>
        
    </div>
    <!-- <p>
        We are pleased to confirm your appointment at our hospital. Please arrive on time and bring any relevant medical records or identification as needed.
    </p>
    <p>
        If you have any questions or need to reschedule, please contact our hospital reception at 0000000.
    </p>
    <p>
        We look forward to providing you with the best possible care.
    </p> -->
 </div>